.sidebar {
    background-color: #242424;
    width: fit-content;
    a {
        text-decoration: none;
    }
}



.menuItem {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.selected {
    color: #FFFFFF;
    background-color: #414141;
}

.menuItem:hover {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.header {
    padding: 15px;
    display: flex;
    flex-direction: column;
}