/* Loader */

body {
    background-color: #242424;
}

.loaderContainer {
    width: 150px;
    height: 150px;
    position: relative;
}

.loaderSquare {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #EEEEEE;
    z-index: 0;
    
    animation: linear loaderSquareSpin 3s infinite;
}

.loaderCircleHole {
    position: absolute;
    background-color: #313131;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    top: 32.5px;
    left: 32.5px;
    z-index: 1;
}

.loaderMiddleCircle {
    position: absolute;
    background-color: #EEEEEE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 57.5px;
    left: 57.5px;
    z-index: 2;
}

.loaderSpinningCircle {
    position: absolute;
    background-color: #EEEEEE;
    border-radius: 50%;
    width: 22.5px;
    height: 22.5px;
    top: 63px;
    left: 63px;
    z-index: 3;
    
    animation: linear loaderSpinningCircleSpin 3s infinite;
}

.loaderBarTop {
    position: absolute;
    background-color: #EEEEEE;
    width: 100px;
    height: 5px;
    z-index: 3;
    left: 25px;

    animation: ease-in-out loaderBarTop 1.5s infinite;
}

.loaderBarBottom {
    position: absolute;
    background-color: #EEEEEE;
    width: 100px;
    height: 5px;
    z-index: 3;
    left: 25px;
    bottom: 0px;

    animation: ease-in-out loaderBarBottom 1.5s infinite;
}

.loaderBarLeft {
    position: absolute;
    background-color: #EEEEEE;
    width: 5px;
    height: 100px;
    z-index: 3;
    left: 0px;
    top: 25px;

    animation: linear loaderBarLeft 1.5s infinite;
}

.loaderBarRight {
    position: absolute;
    background-color: #EEEEEE;
    width: 5px;
    height: 100px;
    z-index: 3;
    right: 0px;
    top: 25px;

    animation: linear loaderBarRight 1.5s infinite;
}

@keyframes loaderBarRight {
    0% {
        top: 50px;
        opacity: 0;
        height: 50px;
    }
    10% {
        top: 50px;
        opacity: 1;
        height: 50px;
    }
    40% {
        top: 50px;
        opacity: 1;
        height: 50px;
    }
    50% {
        height: 50px;
        opacity: 0;
        top: 50px;
    }
    50.0001% {
        top: 25px;
        opacity: 0;
        height: 100px;
    }
    60% {
        top: 25px;
        opacity: 1;
        height: 100px;
    }
    90% {
        top: 25px;
        opacity: 1;
        height: 100px;
    }
    100% {
        top: 25px;
        opacity: 0;
        height: 100px;
    }
    
}

@keyframes loaderBarLeft {
    0% {
        top: 25px;
        opacity: 0;
        height: 100px;
    }
    10% {
        top: 25px;
        opacity: 1;
        height: 100px;
    }
    40% {
        top: 25px;
        opacity: 1;
        height: 100px;
    }
    50% {
        top: 25px;
        opacity: 0;
        height: 100px;
    }
    50.0001% {
        top: 50px;
        opacity: 0;
        height: 50px;
    }
    60% {
        top: 50px;
        opacity: 1;
        height: 50px;
    }
    90% {
        top: 50px;
        opacity: 1;
        height: 50px;
    }
    100% {
        height: 50px;
        opacity: 0;
        top: 50px;
    }
}

@keyframes loaderBarBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    15% {
        transform: translateX(0px);
        opacity: 1;
    }
    85% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes loaderBarTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    15% {
        transform: translateX(0px);
        opacity: 1;
    }
    85% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}


@keyframes loaderSpinningCircleSpin {
    0% {
        transform: rotate(0deg) translateX(-30px);
    }
    100% {
        transform: rotate(720deg) translateX(-30px);
    }
}

@keyframes loaderSquareSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}

/* Loader end */


body {
    margin: 0px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    line-height: 1.3;
}

#downgradeLoginMsg {
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #000000EE;
}

.menuContainer {
    background-color: #313131;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.downloadContainer {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.downloadProgressContainer {
    min-width: 150px;
    width: 100%;
    height: 20px;
    background-color: #777777;
    flex-shrink: 1;
}

.downloadProgressBar {
    height: 100%;
    background-color: #1a83da;
}

.topMargin {
    margin-top: 20px;
}



.downloadText {
    margin-left: 10px;
    flex-grow: 1;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.contentItem {
    height: 100%;
    padding: 20px;
}


.noPadding {
    padding: 0px !important;
}

.contentHeader {
    font-size: 130%;
    margin-bottom: 30px;
    margin-top: 0;
}

.contentHeaderDescription {
    font-size: 60%;
    display: inline;
    margin-left: 20px;
}


.inline {
    display: inline;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button {
    border-radius: 4px;
    font-size: 100%;
    background-color: #757575;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    width: fit-content;
    height: fit-content;
    padding: 7px;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
    text-decoration: none;
    color: #FFFFFF;
}

.notActive {
    background-color: #333333 !important;
    color: #888888 !important;
}

.button:hover {
    background-color: #505050;
}

.buttonLabel {
    display: inline;
    font-size: 90%;
    margin-left: 20px;
}

.about {
    margin-top: 40px;
}

.infiniteList {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F1F1F;
    height: fit-content;
    color: #FFFFFF;

    z-index: 5;
    min-height: 200px;
}
.infiniteList .empty {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F1F1F;
    height: fit-content;
    color: #FFFFFF;
    width: 100%;
    z-index: 5;
    border: none;
    border-radius: 0;
    font-size: 1em;
    padding: 5px;
}

select {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F1F1F;
    height: fit-content;
    color: #FFFFFF;
    width: fit-content;
    width: 90%;
    z-index: 5;
    border: none;
    border-radius: 0;
    font-size: 1em;
    padding: 5px;
}

select:focus {
    outline: none;
}

.mod {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.smallText {
    font-size: .75em;
}

.margin20 {
    margin: 20px;
}

.nomargin {
    margin: 0 !important;
}

.version {
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: visible;
}

.buttonsContainer > div {
    margin: 5px;
}

.leftRightSplit {
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 70%;
}

.upDownSplit {
    display: flex;
    flex-direction: column;
}

.navigationMargin {
    margin: 5px;
}

.spaceBetween {
    justify-content: space-between;
}

.modCover {
    width: 270px;
    min-width: 270px;
    height: 170px;
    min-height: 170px;
    margin-right: 20px;
    object-fit: cover;
}

#other {
    display: flex;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

.option {
    margin-left: 30px;
}

.normal {
    position: relative !important;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 25px;
    right: 20px;
    bottom: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }

  .underline {
    text-decoration: underline;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.list {
    display: flex;
    flex-wrap: wrap;
    max-height: 50vh;
    background-color: #1F1F1F;
    height: fit-content;
    color: #FFFFFF;
    width: fit-content;
    overflow-y: scroll;
    z-index: 5;
}

.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 5;
}

.listItem {
    padding: 10px;
    width: 100%;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listItemSelected {
    background-color: #115992;
}

.listItem:hover {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

input {
    padding: 5px;
    width: 70%;
    border: none;
    color: #EEEEEE;
    background-color: #202225;
}

code {
  padding: 5px;
  border-radius: 3px;
  background-color: #202225;
  border: 1px solid black;
}

.headerMargin {
  margin-top: 40px;
}

.labelMargin {
  margin-right: 10px;
}

.buttonSelectionContainer {
  display: flex;
}

.buttonMargin {
  margin-left: 20px;
}

.topButtonMargin {
    margin-top: 10px;
}

.restoreStep {
   padding: 20px;
   background-color: #1F1F1F;
}

a {
    color: #5689f7;
}

.darken {
  background-color: #00000055;
}

.textBox {
  margin-top: 20px;
}

#backupList {
  width: 100%;
}

.space {
    margin-top: 40px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  }
  .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1a83da;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
  0% {
  transform: scale(0);
  }
  100% {
  transform: scale(1);
  }
  }
  @keyframes lds-ellipsis3 {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(0);
  }
  }
  @keyframes lds-ellipsis2 {
  0% {
  transform: translate(0, 0);
  }
  100% {
  transform: translate(24px, 0);
  }
  }
  