body {
    margin: 0px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    line-height: 1.3;
}

.menuContainer {
    background-color: #414141;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

}

.sidebar {
    background-color: #242424;
    width: fit-content;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.contentItem {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.contentHeader {
    font-size: 130%;
    margin-bottom: 30px;
}

.contentHeaderDescription {
    font-size: 60%;
    display: inline;
    margin-left: 20px;
}

.menuItem {
    padding: 20px;
    display: flex;
    align-items: center;
    color: #595959;
}

.selected {
    color: #FFFFFF;
    background-color: #414141;
}

.menuItem:hover {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button {
    border-radius: 5px;
    font-size: 100%;
    background-color: #5B5B5B;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
}

.button:hover {
    background-color: #505050;
}

.buttonLabel {
    display: inline;
    font-size: 90%;
    margin-left: 20px;
}

.about {
    margin-top: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    max-height: 90%;
    background-color: #1F1F1F;
    height: fit-content;
    color: #FFFFFF;
    width: fit-content;
    overflow-y: scroll;
}

.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 100%;
}

.smallListContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 90%;
  max-height: 300;
  overflow-y: scroll;
}

.listItem {
    padding: 10px;
    width: 100%;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listItemSelected {
    background-color: #115992;
}

.listItem:hover {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

input {
    padding: 5px;
    width: 70%;
    border: none;
    color: #EEEEEE;
    background-color: #202225;
}

code {
  padding: 5px;
  border-radius: 3px;
  background-color: #202225;
  border: 1px solid black;
}

.headerMargin {
  margin-top: 40px;
}

.labelMargin {
  margin-right: 10px;
}

.buttonSelectionContainer {
  display: flex;
}

.buttonMargin {
  margin-left: 20px;
}

.restoreStep {
   padding: 20px;
   background-color: #1F1F1F;
}

.darken {
  background-color: #00000055;
}

.textBox {
  margin-top: 20px;
}

#backupList {
  width: 100%;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  }
  .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1a83da;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
  0% {
  transform: scale(0);
  }
  100% {
  transform: scale(1);
  }
  }
  @keyframes lds-ellipsis3 {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(0);
  }
  }
  @keyframes lds-ellipsis2 {
  0% {
  transform: translate(0, 0);
  }
  100% {
  transform: translate(24px, 0);
  }
  }
  